.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 2% auto;
}
.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.now {
  display: flex;
  align-items: center;
}
.day {
  text-transform: uppercase;
  padding: 3px;
  border-radius: 30%;
}
.day,
.degrees {
  font-size: 2em;
}
.dayForecast {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast {
  display: flex;
  width: 60%;
  justify-content: space-between;
}