.form {
  display: flex;
  color: black;
  flex-direction: column;
  text-decoration: none;
}
.text {
  width: 300px;
  max-width: 300px;
  max-height: 300px;
}
.submit,
.closeBtn {
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 10px;
}