.form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  text-decoration: none;
}
.text {
  width: 300px;
  max-width: 300px;
  max-height: 200px;
}
.submit,
.closeBtn {
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  padding: 10px;
}