.form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
  text-decoration: none;
}
.text {
  width: 300px;
  max-width: 300px;
  max-height: 200px;
}
.submit,
.closeBtn {
  width: 150px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  padding: 10px;
  
}
.submit:disabled {
  cursor: auto;
  pointer-events: none;
}

.submit:hover,
.closeBtn:hover {
  background-color: rgb(63, 61, 61);
  color: rgb(255, 255, 255);
}
.submit:active,
.closeBtn:active {
  background-color: rgb(128, 123, 123);
  color: rgb(255, 255, 255);
}

@media (min-width: 480px) and (max-width: 767px) {
  .text {
    width: 250px;
    max-width: 250px;
    max-height: 150px;
  }
}
@media (min-width: 320px) and (max-width: 479px) {
  .text {
    width: 200px;
    max-width: 220px;
    max-height: 120px;
  }
}